absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-doc
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
black
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
datasets
debugpy
decorator
defusedxml
dill
docstring-to-markdown
executing
fastjsonschema
filelock
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gast
gitdb
gitpython
google-pasta
grpcio
h11
h5py
hf-xet
httpcore
httpx
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
ipython-pygments-lexers
ipywidgets
isoduration
jedi
jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-lsp
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras
kiwisolver
lark
libclang
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
multidict
multiprocess
mypy-extensions
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numpy
nvidia-nccl-cu12
opt-einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pillow
platformdirs
pluggy
prometheus-client
prompt-toolkit
propcache
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydeck
pygments
pyparsing
python-json-logger
python-lsp-jsonrpc
python-lsp-server
pytokens
pytzpost1
pyyaml
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
send2trash
setuptools
shellingham
six
smmap
soupsieve
stack-data
streamlit
tenacity
tensorflow
termcolor
terminado
threadpoolctl
tinycss2
tokenizers
toml
tornado
tqdm
traitlets
transformers
typer
typing-extensions
tzdata
ujson
uri-template
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
wrapt
xgboost
xxhash
yarl
zipp
